@import "tailwindcss";

:root {
  --verde-metalico-principal: #1EC88A;
  --verde-metalico-escuro: #159F70;
  --branco-principal: #FFFFFF;
  --verde-metalico-translucido: #1EC88A4D;
  --cinza-claro: #F5F5F5;
  --cinza-medio: #E5E7EB;
  --cinza-escuro: #374151;
  --sombra-padrao: rgba(0, 0, 0, 0.1);

  --fonte: "Roboto", sans-serif;
}

body {
  @apply flex flex-col min-h-screen m-0 p-0;
  font-family: var(--fonte)
}

@layer base {
  .container {
    @apply h-screen w-full flex flex-col;
  }

  .container header {
    @apply h-[20vh] w-screen border-b flex flex-row items-center justify-between p-5;
  }

  .container header h1 {
    @apply text-3xl font-bold;
  }

  .container header nav {
    @apply flex gap-5;
  }

  .container header nav a {
    @apply hover:underline;
  }

  .container main {
    @apply h-[60vh] w-screen overflow-auto bg-[var(--cinza-claro)];
  }

  .container footer {
    @apply h-[20vh] w-screen border-b flex flex-col items-center justify-end p-5;
  }
}

@layer components {

  /* =========================
      CABEÇALHO
  ========================== */
  .cabecalho {
    @apply flex items-center justify-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 50;
    border: none;
  }

  .cabecalho_logo {
    @apply flex flex-col;
  }

  .cabecalho_logo h1 {
    @apply text-2xl font-bold;
    color: var(--verde-metalico-principal);
  }

  .cabecalho_logo p {
    @apply mt-[0.25rem] text-[0.875rem];
    color: var(--cinza-escuro);
  }

  /* =========================
      RODAPÉ
  ========================== */
  .rodape {
    @apply bg-[var(--cinza-medio)] text-[var(--cinza-escuro)] shadow-inner;
  }

  .rodape-conteudo {
    @apply container px-6 py-4 flex flex-col items-center justify-center gap-2;
  }

  .rodape-texto {
    @apply text-sm;
  }

  .rodape-links {
    @apply flex gap-4 text-sm;
  }

  .rodape-link {
    @apply hover:underline;
  }
}